<a href="https://colab.research.google.com/github/Santiago-Soria/proyecto-transformacion-texto-imagen/blob/main/notebooks/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Celda 1: Importar librerías
import pandas as pd
import numpy as np
import re
from sklearn.model_selection import train_test_split

In [2]:
# Celda 2: Cargar los datos
RAW_DATA_PATH = "../data/raw/dataset_depresion.xlsx"
df = pd.read_excel(RAW_DATA_PATH)

print("Forma inicial del dataset:", df.shape)
df.head()

Forma inicial del dataset: (1136, 12)

,id,personal_key,beck_range,depression_level,text,manual_classification,age,occupation,max_level_studies,residence,marital_status,Tiempo
0,1,1X1AV4,5,1,"Me siento bien, un poco cansado creo es lo hab...",0,27,Student,Tourism student,"Azcapotzalco, CDMX",single,NaN
1,2,2X1AV4,17,3,"Respondiendo a la pregunta "" ¿cómo has estado?...",1,20,Student,Tourism student,"Iztapalapa, CDMX",single,NaN
2,3,3X1AV4,0,1,En este tiempo de cuarentena me ha dado la opo...,0,27,Student,Tourism student,"Venustiano Carranza, CDMX",single,NaN
3,4,4X1av4,12,2,"Siento que hay episodios de ansiedad y apatía,...",0,27,Student,Tourism student,"Coyoacán, CDMX",single,NaN
4,5,5X1AV4,7,1,Me siento bien a pesar de las limitaciones de ...,0,28,Student,Tourism student,"Nezahualcóyotl, MEX",single,NaN

In [3]:
# Celda 3: Función de limpieza de texto
def limpiar_texto(texto):
    """
    Función para normalizar y limpiar una cadena de texto.
    """
    if not isinstance(texto, str):
        return ""
    texto = texto.lower()  # Convertir a minúsculas
    texto = re.sub(r'[^a-z0-9áéíóúñü\s]', '', texto)  # Eliminar caracteres especiales excepto letras y números
    texto = re.sub(r'\s+', ' ', texto).strip()  # Normalizar espacios en blanco
    return texto

# Celda 4: Aplicar la limpieza
df['texto_limpio'] = df['text'].apply(limpiar_texto)

# Revisar algunos ejemplos
df['texto_limpio'].head()

0    me siento bien un poco cansado creo es lo habi...
1    respondiendo a la pregunta cómo has estado que...
2    en este tiempo de cuarentena me ha dado la opo...
3    siento que hay episodios de ansiedad y apatía ...
4    me siento bien a pesar de las limitaciones de ...
Name: texto_limpio, dtype: object

In [4]:

# Celda 5: División Estratificada de Datos (Train, Validation, Test)
# Asumimos que la columna objetivo se llama 'manual_classification'
# Primero, separamos el conjunto de prueba (15%)
train_val_df, test_df = train_test_split(
    df,
    test_size=0.15,
    random_state=42,  # Semilla para reproducibilidad
    stratify=df['manual_classification']
)

# Luego, dividimos el resto en entrenamiento (70% del total) y validación (15% del total)
train_df, val_df = train_test_split(
    train_val_df,
    test_size=0.1765, # 15 / (70+15) = 0.1765
    random_state=42,
    stratify=train_val_df['manual_classification']
)

print(f"Tamaño del conjunto de entrenamiento: {len(train_df)}")
print(f"Tamaño del conjunto de validación: {len(val_df)}")
print(f"Tamaño del conjunto de prueba: {len(test_df)}")

# Celda 6: Guardar los conjuntos de datos procesados
PROCESSED_PATH = "../data/processed/"
train_df.to_csv(PROCESSED_PATH + "train.csv", index=False)
val_df.to_csv(PROCESSED_PATH + "validation.csv", index=False)
test_df.to_csv(PROCESSED_PATH + "test.csv", index=False)

print("¡Archivos guardados exitosamente!")

Tamaño del conjunto de entrenamiento: 794
Tamaño del conjunto de validación: 171
Tamaño del conjunto de prueba: 171
¡Archivos guardados exitosamente!